
<html ng-app="cards">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="flip.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="css/match.css">
  <script type="text/javascript" src="js/match.js"></script>
  </head>
<body>
  <div class="cntr" ng-controller="CardController">
    <div><a href="sara.html"><img style="height:40px; width:auto; margin:20px;" 
        src="img/left-arrow.png"></a> 
        <span id="back-button">Back</span>
    </div>
    <div class="timer" ng-class="{critical:isCritical}">
      {{timeLimit | date: 'm:ss'}}  
    </div>
    <div>
      <h1 id="heading">Match the important coding languages you should know:</h1>
    </div>
    <table class="table-top">
      <tr ng-repeat="row in deck.rows">
        <td ng-repeat="card in row.cards">
          <div class="card_container {{!card.isFaceUp ? '' : 'flip'}}" ng-click="isGuarding || check(card)" >
            <div class="card shadow">
              <div class="front face"></div>
              <div class="back face text-center pagination-center">
                <p> {{card.item}} </p>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div class="startbtn">
      <button id="start" type="button" class="btn btn-success" ng-disabled="inGame == true" ng-click="start()">Start</button>
    </div>
    <div>
        <a id="follow" href="final.html">Finish My Journey</a>
    </div>
  </div>
  <iframe src="matching_game.mp3" allow="autoplay" style="display:none" id="iframeAudio">
  </iframe> 
</body>
</html>
